/*my-login*/
.my-login{
    text-align: center;
    border: 1px solid #e3e3e3;
}
.my-login>*{
    padding: 1em
}

/*my-grid*/
.table-header .table-row>*,.table-body .table-row>*{
    display: inline-block;
    width: 10rem;
    padding: 0.5rem;
    border-right: 1px solid #e3e3e3;
}
.table-header{
    font-size: 1.2rem;
    color:#ffffff;
    background: #666699;
}
.table-body .table-row{
    border: 1px solid #d3d3d3;
}
.table-body .table-row>*{
    background: #f3f3f3;
}
.table-body .table-row:nth-child(2n),.table-body .table-row:nth-child(2n)>*{
    background: #d3d3d3;
}
.table-body .table-row:hover{
    opacity: 0.8;
}
.table-body .table-row>*:hover{
    background: #99f399;
}

/*my-form*/
.form-body .form-row{
    padding: 1em;
}
.form-body .form-row>*{
    display: inline-block;
}
.form-body .form-row label{
    width: 30%;
    font-weight: bold;
}
.form-body .form-row div{
    width: calc(70% - 2em);
}